.App {
  width: 100vw;
  height: 100vh;
  background-color: #ecf0f5;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f5;
}

.Sidebar {
  height: 100%;
  width: 260px;
  background-color: #f9fafc;
}

.SidebarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-items: center;
  justify-content: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #ecf0f5;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}
.popout {
  transition: transform 0.2s;
}
.popout:hover {
  transform: scale(1.1);
}
.box-border {
  border-radius: 10px 10px 0px 0px;
}
.timeline {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #ddd;
  left: 31px;
  margin: 0;
  border-radius: 2px;
}
.timelineLi {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}
.timelineLi > .mail {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #d2d6de;
  border-radius: 25%;
  text-align: center;
  left: 18px;
  top: 0;
  background-color: #34c0ef;
}
.timelineLi > .timelineItem {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  border-radius: 3px;
  margin-top: 0;
  background: #fff;
  color: #444;
  margin-left: 60px;
  margin-right: 15px;
  padding: 0;
  position: relative;
}
.timelineLi > .timelineItem > .time {
  color: rgb(255, 255, 255);
  float: right;
  padding: 10px;
  font-size: 12px;
}
.timelineLi > .timelineItem > .timelineHeader {
  margin: 0;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
  font-size: 16px;
  line-height: 1.1;
}
.timelineLi > .timelineItem > .timelineBody {
  padding: 10px;
}
.boxHeader {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.boxBody {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.boxFooter {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}
.button {
  float: right !important;
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.boxFooter2 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  background-color: #fff;
}
.link {
  border-radius: 0;
  border-top: 0;
  border-left: 3px solid transparent;
  color: #444;
  position: relative;
  display: block;
  padding: 10px 15px;
  font-size: 13px;
}
.clipboard {
  margin-right: 5px;
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.boxHeader .boxTitle {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.noBorder {
  border: 0 !important;
}
.itemHover:hover {
  background-color: #ebebe0;
}
.birthdayCake {
  background-color: #92fcb3;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  display: inline-block;
    font: normal normal normal 12px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
